<div class="landing-container">
  <ng-container *ngIf="!loading">
    <img src="assets/images/logo-dark.png" alt="Logo" class="logo">
    <h1>Buppas App</h1>
    <h2>Accede a tu cuenta de manera segura</h2>
    <button (click)="login()" class="login-button bg-success2">Iniciar Sesion</button>
  </ng-container>
  <div class="loader-container w-100" *ngIf="loading">
    <div class="loader">
      <div class="circle circle1"></div>
      <div class="circle circle2"></div>
      <div class="circle circle3"></div>
    </div>
    <p class="loader-message">Cargando, por favor espera...</p>
  </div>
</div>
