<div class="container">
    <div class="page-header">
      <div class="d-flex flex-column">
        <h5 class="primary title noselect">Reporte de Reciclaje de Baterías</h5>
        <p class="secundary mb-1">En este módulo podrás realizar los reportes</p>
      </div>
      <div class="d-flex flex-rows gap-10">
        <button type="button" class="btn btn-sm btn-dark">
          Recargar <i class="fa-solid fa-rotate-right"></i>
        </button>
      </div>
    </div>
  
    <div class="page-divider mb-3">
      <hr class="mt-1 mb-1" />
    </div>
  
    <div class="page-body">
      <div class="card">
        <div class="card-body">
  
          <!-- Formulario de fechas -->
          <div class=" p-4">
            <h6 class="fw-semibold mb-4">Seleccionar Rango de Fechas</h6>
            <div class="row g-3 align-items-end">
                <div class="col-md-3">
                  <label for="fechaInicial" class="form-label">Fecha Inicial:</label>
                  <input type="date" class="form-control" id="fechaInicial"  required
                          [(ngModel)]="formData.startDate"/>
                </div>
                <div class="col-md-3">
                  <label for="fechaFinal" class="form-label">Fecha Final:</label>
                  <input type="date" class="form-control" id="fechaFinal"      required
                          [(ngModel)]="formData.endDate" />
                </div>
               <div class="col-md-3">
                    <label for="sedeAcopioId" class="form-label text-black">Sede de Acopio</label>
                    <div class="input-group">
                      <select class="form-select h-46" name="sedeAcopioId" id="sedeAcopioId" [(ngModel)]="formData.collectionSiteId">
                         <option value="" selected>Seleccionar</option>
                        <option *ngFor="let sede of listSedes" [value]="sede.id">{{ sede.name }}</option>
                      </select>
                    </div>
                  </div>
              <div class="col-md-3 d-flex align-items-end">
                <button type="submit" class="btn btn-success w-100" (click)="searchfilter()">
                  Filtrar Reporte
                </button>
              </div>
            </div>
          </div>
  
          <!-- Tabla de resultados -->
          <div class="mt-5">
          <div class="col-md-12 d-flex justify-content-between align-items-center mb-3 gap-2 flex-wrap">
  <h6 class="fw-semibold mb-0">Resultados del Reporte</h6>
  <button type="submit" class="btn btn-warning" (click)="generate()">
    Generar Informe PDF
  </button>
</div>

            <div class="table-responsive">
           <table class="table table-bordered rounded shadow-sm overflow-hidden">
              <thead style="background-color: #f1f1f1; font-size: 11px; font-weight: 600;">
                <tr>
                  <th>ID LOTE</th>
                  <th>FECHA ENTREGA</th>
                  <th>CANTIDAD BATERÍAS</th>
                  <th>MATERIALES RECICLADOS</th>
                </tr>
              </thead>
              <tbody>
                <!-- Mensaje si no hay datos -->
                <tr *ngIf="resultReport.length === 0">
                  <td colspan="4" class="text-center text-muted py-4">
                    No hay lotes registrados.
                  </td>
                </tr>

                <!-- Filas de datos -->
                <tr *ngFor="let item of resultReport">
                  <td>{{ item.id }}</td>
                  <td>{{ item.delivery_date }}</td>
                  <td>{{ item.quantity_batteries }}</td>
                  <td>
                    <div *ngIf="item.materials?.length; else noMaterials" class="d-flex" >
                      <div *ngFor="let data of item.materials"  >
                        <span class="d-block">
                          {{ data.name }}: {{ data.quantity }} {{ data.unity }},   
                        </span>
                      </div>
                    </div>
                    <ng-template #noMaterials>
                      <span class="text-muted">Sin materiales reciclados</span>
                    </ng-template>
                  </td>
                </tr>
              </tbody>
            </table>

            </div>
          
          </div>
  
        </div>
      </div>
    </div>
  </div>
  