<div class="container">
  <div class="page-header">
    <div class="d-flex flex-column">
      <h5 class="primary title noselect">Auditoria de conciliación</h5>
      <p class="secundary mb-1">En este módulo podras realizar las conciliaciones de las recepciones</p>
    </div>
    <div class="d-flex flex-rows gap-10">
      <button type="button" class="btn btn-sm btn-dark" (click)="getConciliations(1);">Recargar <i class="fa-solid fa-rotate-right"></i></button>
      <button type="button" class="btn btn-sm btn-success" (click)="downloadExcelStructure();">
         <!-- Texto e ícono dinámico -->
        <span *ngIf="!isDownloading">Descargar <i class="fa-solid fa-download"></i></span>
        <span *ngIf="isDownloading">Generando... <i class="fa-solid fa-spinner fa-spin"></i></span>
      </button>
    </div>
  </div>
  <div class="page-divider mb-3">
    <hr class="mt-1 mb-1">
  </div>
  <div class="page-body">
    <div class="row">
      <div class="col-md-12 mb-3">
        <ul class="nav nav-tabs">
          <li class="nav-item" [ngClass]="{'activeli': viewcard==='P'}" >
            <a class="nav-link" [ngClass]="{'active': viewcard==='P'}" href="javascript:void(0)" (click)="viewcard='P'">Pendiente Revisión</a>
          </li>
          <li class="nav-item" [ngClass]="{'activeli': viewcard==='C'}" >
            <a class="nav-link" [ngClass]="{'active': viewcard==='C'}" href="javascript:void(0)" (click)="viewcard='C'">Completadas</a>
          </li>
        </ul>
      </div>
      <div class="col-md-12" *ngIf="viewcard === 'P'">
        <div class="table-responsive">
          <div class="row">
            <div class="mb-3 col-4">
              <input type="text" class="form-control form-control-sm" (keyup)="searchTerm$.next($event.target)" placeholder="Buscar..."/>
            </div>
            <div class="mb-3 col-2">
              <select [(ngModel)]="status" name="status" class="form-control-sm form-select select-status" (change)="filterstatus()">
                <option *ngFor="let item of statusList" [value]="item">{{item}}</option>
              </select>
            </div>
          </div>
          <table class="table table-sm">
              <thead class="bg-white">
                  <tr>
                      <th class="text-left"> Origen de Datos </th>
                      <th class="text-left"> Transportadora </th>
                      <th class="text-left"> # Ruta</th>
                      <th class="text-left"> Zona </th>
                      <th class="text-left"> Fecha </th>
                      <th class="text-left"> Recuperadora </th>
                      <th class="text-center"> Cant. Total </th>
                      <th class="text-center"> Estado </th>
                      <th class="text-center"> </th>
                  </tr>
              </thead>
              <tbody style="background-color: white;">
                  <tr *ngFor="let item of listReceptions " style="font-size: smaller;">
                      <td class="text-left"> {{item.origin}} </td>
                      <td class="text-left"> {{item.transporter?.name || '-'}} </td>
                      <td class="text-left">{{item.routeId}}</td>
                      <td class="text-left"> {{item.zone || '-' }} </td>
                      <td class="text-left"> {{item.date}} </td>
                      <td class="text-left"> {{item.recuperator || '-'}} </td>
                      <td class="text-center"> {{item.quantityTotal}} </td>
                      <td class="text-center">
                          <h5 style="color: white;"><span class="badge t-small" [class]="setColorStatus(item.status)">{{item.status}}</span></h5>
                      </td>
                      <td class="text-center">
                        <i class="fa-solid fa-handshake f-larger pointer" *ngIf="item.status === 'POR CONCILIAR'" (click)="viewDetail(item)"></i>
                      </td>
                  </tr>
              </tbody>
          </table>
          <!-- Paginación -->
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-between">
              <!-- Select para seleccionar la página -->
              <div class="d-flex align-items-center">
                <li class="page-item d-flex align-items-center">
                  <span class="me-2">Pag</span>
                  <select class="form-select form-select-sm me-2" (change)="onPageChange($event)">
                    <option *ngFor="let i of pagesArray" [value]="i" [selected]="currentPage === i">{{ i }}</option>
                  </select>
                  <span class="me-2">de</span>
                  <span>{{ totalPages }}</span>
                </li>
              </div>
              <!-- Controles Anterior y Siguiente alineados a la derecha -->
              <div class="d-flex">
                <li class="page-item" [class.disabled]="currentPage === 1">
                  <a class="page-link" (click)="goToPage(currentPage - 1)">
                    <i class="fa-solid fa-angle-left"></i>
                  </a>
                </li>
                <li class="page-item" [class.disabled]="currentPage === totalPages">
                  <a class="page-link" (click)="goToPage(currentPage + 1)">
                    <i class="fa-solid fa-angle-right"></i>
                  </a>
                </li>
              </div>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-md-12" *ngIf="viewcard === 'C'">
        <div class="table-responsive">
          <div class="row">
            <div class="mb-3 col-4">
              <input type="text" class="form-control form-control-sm" (keyup)="searchTerm$.next($event.target)" placeholder="Buscar..."/>
            </div>
          </div>
          <table class="table table-sm">
              <thead class="bg-white">
                  <tr>
                      <th class="text-left"> Transportadora </th>
                      <th class="text-left"> # Ruta</th>
                      <th class="text-left"> Zona </th>
                      <th class="text-left"> Fecha </th>
                      <th class="text-left"> Recuperadora </th>
                      <th class="text-center"> Cant. Total </th>
                      <th class="text-right"> GAP </th>
                      <th class="text-center"> Estado </th>
                      <th class="text-center"> </th>
                  </tr>
              </thead>
              <tbody style="background-color: white;">
                  <tr *ngFor="let item of listReceptions2" style="font-size: smaller;">
                      <td class="text-left"> {{item.transporter?.name || '-'}} </td>
                      <td class="text-left">{{item.routeId}}</td>
                      <td class="text-left"> {{item.zone || '-' }} </td>
                      <td class="text-left"> {{item.date}} </td>
                      <td class="text-left"> {{item.recuperator || '-'}} </td>
                      <td class="text-center"> {{item.quantityTotal}} </td>
                      <td class="text-right"> {{item.gap}} </td>
                      <td class="text-center">
                          <h5 style="color: white;"><span class="badge t-small" [class]="setColorStatus(item.status)">{{item.status}}</span></h5>
                      </td>
                      <td class="text-center">
                        <i class="fa-solid f-larger pointer" [ngClass]="{'fa-handshake': item.requestStatus?.name==='POR CONCILIAR', 'fa-eye':item.requestStatus?.name!=='POR CONCILIAR'}"  (click)="viewDetail(item)"></i>
                      </td>
                  </tr>
              </tbody>
          </table>
          <!-- Paginación -->
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-between">
              <!-- Select para seleccionar la página -->
              <div class="d-flex align-items-center">
                <li class="page-item d-flex align-items-center">
                  <span class="me-2">Pag</span>
                  <select class="form-select form-select-sm me-2" (change)="onPageChange($event)">
                    <option *ngFor="let i of pagesArray" [value]="i" [selected]="currentPage === i">{{ i }}</option>
                  </select>
                  <span class="me-2">de</span>
                  <span>{{ totalPages }}</span>
                </li>
              </div>
              <!-- Controles Anterior y Siguiente alineados a la derecha -->
              <div class="d-flex">
                <li class="page-item" [class.disabled]="currentPage === 1">
                  <a class="page-link" (click)="goToPage(currentPage - 1)">
                    <i class="fa-solid fa-angle-left"></i>
                  </a>
                </li>
                <li class="page-item" [class.disabled]="currentPage === totalPages">
                  <a class="page-link" (click)="goToPage(currentPage + 1)">
                    <i class="fa-solid fa-angle-right"></i>
                  </a>
                </li>
              </div>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modaldetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div [class]="sizeModal" class="modal-dialog">
    <div class="modal-content">
      <div *ngIf="sizeModal==='modal-xl'">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12 d-flex justify-content-between">
                <h5># RUTA: {{audit.routeId}}</h5>
                <h5 style="color: white;"><span class="badge t-small" [class]="setColorStatus(audit.requestStatus)">{{audit.requestStatus}}</span></h5>
              </div>
              <hr>
            </div>
            <div class="row">
              <div class="col-md-12">
                <span>RECUPERADORA: {{audit.reception?.colectionSite?.name}}</span>
                <hr>
              </div>
              <div class="col-md-6">
                <div class="table-responsive">
                  <table class="table table-sm table-bordered">
                    <thead>
                      <tr>
                        <th>Referencia Bupa</th>
                        <th>Tipo Bupa</th>
                        <th>Cantidad</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of audit.reception?.receptionDetails">
                        <td>{{item.product?.name}}</td>
                        <td>{{item.productTypeName}}</td>
                        <td>{{item.quantity}}</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th colspan="2">Total</th>
                        <th>{{audit.recuperatorTotal}}</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <span>TRANSPORTADORA: {{audit.transporter?.name}}</span>
                <hr>
              </div>
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-sm table-bordered">
                    <thead>
                      <tr>
                        <th># Guia</th>
                        <th>Placa</th>
                        <th>Es Agencia</th>
                        <th>Cliente</th>
                        <th>Ref Bupas</th>
                        <th>Cantidad</th>
                        <th class="text-center">Soporte</th>
                        <th>Conciliación</th>
                        <th *ngIf="audit.requestStatus!== 'CONFIRMADO'">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of audit.transporterTravel">
                        <td>{{item.guideId}}</td>
                        <td>{{item.licensePlate}}</td>
                        <td>{{item.client?.isAgency?'SI':'NO'}}</td>
                        <td>{{item.client?.name}}</td>
                        <td>{{item.batteryType}}</td>
                        <td>{{item.quantity}}</td>
                        <td class="text-center"><i class="fa-solid fa-image" (click)="viewFiles(item.supportUrls)"></i></td>
                        <td>
                          <input *ngIf="audit.requestStatus!== 'CONFIRMADO'" type="number" id="input3{{item.id}}" name="input_3{{item.id}}" [(ngModel)]="item.quantityConciliated" class="form-control form-control-sm">
                          <span *ngIf="audit.requestStatus === 'CONFIRMADO'">{{item.quantityConciliated}}</span>
                        </td>
                        <td *ngIf="audit.requestStatus!== 'CONFIRMADO'">
                          <div class="d-flex justify-content-around align-items-center">
                            <i *ngIf="!item.isNew" class="fa-solid fa-copy" (click)="openAddGuide('new',item)"></i>
                            <i *ngIf="item.isNew" class="fa-solid fa-edit" (click)="openAddGuide('edit',item)"></i>
                            <i *ngIf="item.isNew" class="fa-solid fa-trash" (click)="removeGuide(item)"></i>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th colspan="5">Total</th>
                        <th>{{audit.transporterTotal}}</th>
                        <!-- <th colspan="3"></th> -->
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <span>TOTALES PARA CERTIFICACIÓN</span>
                <hr>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-3">
                      <label>Total Recuperadora</label>
                      <input disabled type="number" name="input_recuperadortotal" [(ngModel)]="audit.recuperatorTotal" class="form-control form-control-sm">
                  </div>
                  <div class="col-md-3">
                    <label>Total Transportadora</label>
                    <input disabled type="number" name="input_transportertotal" [(ngModel)]="audit.transporterTotal" class="form-control form-control-sm">
                  </div>
                  <div class="col-md-3">
                    <label>Total a Conciliar</label>
                    <input disabled type="number" name="input_conciliationtotal" [(ngModel)]="audit.conciliationTotal" class="form-control form-control-sm">
                  </div>
                  <div class="col-md-12 mt-3">
                    <label><strong>Productos para conciliación</strong></label>
                  </div>
                  <div class="col-md-12" *ngIf="audit.requestStatus!== 'CONFIRMADO'">
                    <div class="row">
                      <div class="col-md-3">
                        <label>Tipos de productos</label>
                        <select name="typeproduct" id="typeproduct"  class="form-control form-control-sm form-select" [(ngModel)]="productForm2.typeproduct">
                          <option value="{{item.value}}" *ngFor="let item of listTypeProduct">{{item.name}}</option>
                        </select>
                      </div>
                      <div class="col-md-3">
                        <label>productos</label>
                        <select name="product" id="typeproduct" [(ngModel)]="productForm2.productId" class="form-control form-control-sm form-select">
                          <option value="">Seleccionar</option>
                          <option value="{{item.id}}" *ngFor="let item of listProducts">{{item.name}}</option>
                        </select>
                      </div>
                      <div class="col-md-2">
                        <label>Cantidad</label>
                        <input type="number" name="input_canitdad" [(ngModel)]="productForm2.quantity" class="form-control">
                      </div>
                      <div class="col-md-2">
                       <button class="btn btn-sm btn-dark mt-18" (click)="addProducts()">agregar</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mt-3">
                    <ul class="list-group">
                      <li class="list-group-item d-flex justify-content-between align-items-center p-2" *ngFor="let item of selectedItems">
                        {{ item.name }} <br>
                        Cantidad: {{item.quantity}}
                        <i class="fa-solid fa-trash text-danger" (click)="removeItemProduct(item)"></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-sm bg-dark text-white" (click)="modal.hide()">Cancelar</button>
            <button *ngIf="audit.requestStatus !== 'CONFIRMADO'" class="btn btn-sm bg-info" (click)="saveConfirmConciliation(true)">Guardar</button>
            <button *ngIf="audit.requestStatus !== 'CONFIRMADO'" class="btn btn-sm bg-success2" (click)="saveConfirmConciliation(false)">Aprobar</button>
          </div>
      </div>
      <div *ngIf="sizeModal==='modal-lg'">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12 d-flex justify-content-between">
              <h5>Agregar Ajuste en Guía</h5>
            </div>
            <hr>
          </div>
          <div class="form">
            <div class="row">
              <div class="col-md-4 mb-3">
                <label># Guia</label>
                <input type="number" name="guide" [(ngModel)]="productForm.guideId" disabled class="form-control form-control-sm">
              </div>
              <div class="col-md-4 mb-3">
                <label>Placa</label>
                <input type="text" name="plate" [(ngModel)]="productForm.plate" disabled class="form-control form-control-sm">
              </div>
              <div class="col-md-4 mb-3">
                <label>Origen Agencia</label>
                <input type="text" name="agency" [(ngModel)]="productForm.isAgency" disabled class="form-control form-control-sm">
              </div>
              <div class="col-md-4 mb-3">
                <label>Cliente</label>
                <input type="text" disabled name="clients" [(ngModel)]="productForm.clientName" class="form-control form-control-sm">
              </div>
              <div class="col-md-4 mb-3">
                <label>Ref Bupa</label>
                <select name="refbupas" id="refbupas" name="productsselect" [(ngModel)]="productForm.productId" class="form-control form-control-sm form-select">
                  <option value="{{item.id}}" *ngFor="let item of listProducts">{{item.name}}</option>
                </select>
              </div>
              <div class="col-md-4 mb-3">
                <label>Cantidad</label>
                <input type="number" name="count" [(ngModel)]="productForm.quantity" class="form-control form-control-sm">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-sm bg-dark text-white" (click)="cancelOpenGuide()">Cancelar</button>
          <button class="btn btn-sm bg-info" (click)="addGuide()">Agregar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" backdrop="true" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
          <div class="modal-body">
              <div class="col-md-12 text-center pb5">
                   <i class="fa-solid fa-handshake noselect f-xx-large" [style.color]="'#68b631'"></i>
              </div>
              <div class="col-md-12 mt-4">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <h6><strong>Seleccione quien tiene las cantidades correctas</strong></h6>
                  </div>
                  <div class="col-md-12 text-center">
                    <div class="form-check form-opt">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="flexRadioDefault"
                        id="flexRadioDefault1"
                        [(ngModel)]="selectedOption"
                        [value]="'R'"
                      />
                      <label class="form-check-label" for="flexRadioDefault1">
                        Recuperadora
                      </label>
                    </div>
                    <div class="form-check form-opt">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="flexRadioDefault"
                        id="flexRadioDefault2"
                        [(ngModel)]="selectedOption"
                        [value]="'T'"
                      />
                      <label class="form-check-label" for="flexRadioDefault2">
                        Transportadora
                      </label>
                    </div>
                  </div>
                  <div class="col-md-12 mt-3">
                    <div class="form-group">
                      <label class="" for="flexRadioDefault3">Comentario</label>
                      <textarea
                        class="form-control"
                        rows="5"
                        type="textarea"
                        name="textarea1"
                        id="flexRadioDefault3"
                        [(ngModel)]="comment"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 d-flex justify-content-around mt-4">
                  <button class="btn btn-sm text-white btn-dark" (click)="modalConfirm.hide(); modal.show()"> Cancelar </button>
                  <button class="btn btn-sm bg-success2 text-white"> Confirmar </button>
              </div>
          </div>
      </div>
  </div>
</div>
