.card-body > div > i{
  font-size: 2em;
}

.text-left{
  text-align: left;
}

.f-larger{
  font-size: large;
  margin-top: 7px;

}

.select-status{
  height: 33.777778px;
}


#modalConfirm {
  z-index: 2001 !important; /* Por encima del modal de formulario */
}

/* Aumentar el z-index del backdrop del modal de confirmación */
#modalConfirm ~ .modal-backdrop {
  z-index: 2000 !important; /* Justo debajo del modal de confirmación */
}

/* Reducir el z-index del modal de formulario */
#modaldetail {
  z-index: 1051 !important; /* Menor al modal de confirmación */
}

/* Reducir el z-index del backdrop del modal de formulario */
#modaldetail ~ .modal-backdrop {
  z-index: 1050 !important; /* Menor al modal de confirmación */
}

.form-opt{
  display: flex;
  justify-content: flex-start;
  gap: 10px;

}

.t-small{
  font-family: sans-serif;
  font-weight: 100;
}
