<div class="container">
    <div class="page-header">
      <div class="d-flex flex-column">
        <h5 class="primary title noselect">Revisión de Notas Crédito</h5>
        <p class="secundary mb-1">En este módulo podrás realizar las Notas</p>
      </div>
      <div class="d-flex flex-rows gap-10">
        <button type="button" class="btn btn-sm btn-dark">
          Recargar <i class="fa-solid fa-rotate-right"></i>
        </button>
      </div>
    </div>
  
    <div class="page-divider mb-3">
      <hr class="mt-1 mb-1" />
    </div>
  
    <div class="page-body">
      <div class="card">
        <div class="card-body">
   <!-- Filtro por transportadora -->
   <div class="card shadow-sm mb-4">
    <div class="card-body">
      <label for="filtroTransportadora" class="form-label fw-semibold">Filtrar por Transportadora:</label>
 <select
  class="form-select"
  id="pickUpLocationId"
  [(ngModel)]="form.transporter"
  name="pickUpLocationId"
  required
  (change)="onTransporterChange($event)"
>
  <option value="">Seleccione un motivo</option>
  <option *ngFor="let item of listTransportador" [value]="item.id">
    {{ item.name }}
  </option>
</select>

    </div>
  </div>

  <!-- Tabla de resultados -->
  <div class="card shadow-sm">
    <div class="table-responsive">
      <table class="table mb-0">
        <thead style="background-color: #f8f9fa;" class="text-uppercase small text-muted">
          <tr>
            <th>Transportadora</th>
            <th>Número Guía</th>
            <th>Número Factura</th>
            <th>Baterías Pendientes por Tipo</th>
            <th class="text-end">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Servientrega</td>
            <td>GUIA001</td>
            <td>FAC2024-001</td>
            <td>
              Plomo-Ácido Estándar 12V 45Ah: <b>5</b><br>
              AGM 12V 70Ah: <b>2</b><br>
              EFB 12V 60Ah: <b>1</b>
            </td>
            <td class="text-end">
              <button class="btn btn-success btn-sm fw-semibold px-3 rounded">Gestionar</button>
            </td>
          </tr>
     
        </tbody>
      </table>
    </div>
  </div>
      
  
        </div>
      </div>
    </div>
  </div>
  