.h-content {
    height: calc(100vh - 174px);
  }
  
  .scroll {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
  }
  
  .ml-2 {
    margin-left: 4px;
  }
  
  .avatar {
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-top: auto;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .avatar2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #343a40; /* Default dark color for avatar2 */
  }
  
  .card {
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
  }
  
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card-body {
    padding: 0.75rem;
  }
  
  .statusbar {
    width: 8px;
    height: 90px;
    margin-right: 7px;
    display: inline-block;
    border-top: 2px; /* Ajusta el color y grosor según necesites */
    border-bottom: 2px; /* Ajusta el color y grosor según necesites */
    border-radius: 4px; /* Opcional: para bordes ligeramente redondeados */
}

  
  .bg-danger { background-color: #dc3545; } /* For 404 */
  .bg-warning { background-color: #ffc107; } /* For 500 */
  .bg-info { background-color: #17a2b8; } /* For 400 */
  .bg-success { background-color: #28a745; } /* For 200 */
  