.divider{
  margin: 10px 0px;
  border-bottom: 1px solid rgb(206, 206, 206);
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #434953; /* agregar borde rojo */
  margin-right: 10px;
  vertical-align: middle;
}

.h-content{
  height: calc(100vh - 109px);
}

.scroll{
  overflow-y: auto;
  height: 100%;
  overflow-x: hidden;
}


/*DETALLE*/
.card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 1rem; /* Ajuste de padding para más compacidad */
 
}
.card-h{
  height: 35vh;
}
.cardground1 {
  background-color: #FAFAFD;
}

.cardground2 {
  background-color: #F3F5F6;
}

.card-title {
  font-size: 1rem; /* Tamaño de fuente reducido */
  margin-bottom: 0.5rem; /* Espacio reducido */
}

.card-body p {
  margin: 0.25rem 0; /* Espaciado reducido entre párrafos */
  font-size: 0.8rem; /* Tamaño de fuente reducido */
}

.card-body strong {
  display: inline-block;
  min-width: 150px; /* Asegura que las etiquetas tengan un ancho uniforme */
}

.badge {
  font-size: 0.8rem; /* Tamaño de fuente reducido para las badges */
}

i {
  font-size: 0.7rem; /* Tamaño de los íconos ajustado */
  margin-right: 0.3rem; /* Espacio entre el ícono y el texto */
}
