<div class="container">
  <div class="d-flex justify-content-between">
    <div>
      <h3>Detalle de Solicitud</h3>
    </div>
    <div class="d-flex flex-rows gap-10">
      <span><strong>Codigo</strong>: PHA-2424</span>
      <span><strong>Fecha</strong>: 30-05-2024</span>
      <h5 class="text-white"><span class="badge bg-success2">Confirmada</span></h5>
    </div>
  </div>
  <div class="divider"></div>
  <div class="w-100">
    <h5>Datos de solicitud</h5>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea numquam et consequatur eos neque accusantium repudiandae, facilis sapiente. Voluptatum incidunt repudiandae vitae perferendis laborum dolorem amet excepturi modi, culpa placeat.</p>
    <div class="d-flex flex-rows gap-10 justify-content-lg-start">
      <div class="card bg-success2">
        <div class="card-body">
          <div class="d-flex flex-column text-center">
            <span>Tipo Solicitud</span>
            <span>Especial</span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column text-center">
            <span>Fecha Estimado</span>
            <span>06-08-2024</span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column text-center">
            <span>Hora Estimado</span>
            <span>3:00 PM</span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column text-center">
            <span>Cantidad Estimada</span>
            <span>600</span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column text-center">
            <span>Kilos Estimados</span>
            <span>1200</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100">
    <div class="row">
      <div class="col-md-6">
        <h5>Datos Cliente</h5>
        <div class="divider"></div>
        <span><strong>Nit:</strong> 900600259</span><br>
        <span><strong>Razon Social:</strong> Autoland del caribe SAS</span><br>
      </div>
      <div class="col-md-6">
        <h5>Datos Recogida</h5>
        <div class="divider"></div>
        <span><strong>Dirección:</strong> Cra 4B # 28 - 40</span><br>
        <span><strong>Ciudad:</strong> Juan Mina</span><br>
        <span><strong>Pais:</strong> Colombia</span><br>
        <span><strong>Contacto:</strong> James Rodriguez</span><br>
        <span><strong>Telefono:</strong> 3178902922</span><br>
        <span><strong>Email:</strong> aldairguerrerobarajas@gmail.com</span><br>
        <span><strong>Aprobado:</strong> Pibe Valderrama</span><br>
      </div>
    </div>
  </div>
</div>
