.divider{
  margin: 10px 0px;
  border-bottom: 1px solid rgb(206, 206, 206);
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #434953; /* agregar borde rojo */
  margin-right: 10px;
  vertical-align: middle;
}
