<div class="container">
  <div class="page-header">
    <div class="d-flex flex-column">
      <h3 class="primary title noselect">SOLICITUDES</h3>
      <p class="secundary mb-1">
        En este modulo podras planear y configurar la solicitud para que
        continue el proceso
      </p>
    </div>
    <div class="d-flex flex-rows gap-10">
      <button type="button" class="btn btn-sm bg-add" (click)="createRequest()">
        Crear nueva solicitud <i class="fa-solid fa-add"></i>
      </button>
      <button type="button" class="btn btn-sm btn-dark">
        Recargar <i class="fa-solid fa-rotate-right"></i>
      </button>
    </div>
  </div>
  <div class="page-divider mb-3">
    <hr class="mt-1 mb-1" />
  </div>
  <div class="page-body">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-sm">
              <thead class="bg-white">
                <tr>
                  <th class="text-center">Id</th>
                  <th class="text-center">Fecha</th>
                  <th class="text-left">Acopio</th>
                  <th class="text-center">Cantidad</th>
                  <th class="text-left">Recogida</th>
                  <th class="text-left">Cliente</th>
                  <th class="text-center">Transportadora</th>
                  <th class="text-center">Estado</th>
                  <th class="text-center"></th>
                </tr>
              </thead>
              <tbody style="background-color: white">
                <tr
                  *ngFor="let item of listsrequest"
                  style="font-size: smaller"
                >
                  <td class="text-center">{{ item.id }}</td>
                  <td class="text-center">
                    {{ item.createdAt | date : "short" }}
                  </td>
                  <td class="text-left">{{ item.acopiCenter }}</td>
                  <td class="text-center">{{ item.estimatedQuantity }}</td>
                  <td class="text-center">
                    {{ item.estimatedPickUpDate }}
                    {{ item.estimatedPickUpTime }}
                  </td>
                  <td class="text-left">{{ item.customer }}</td>
                  <td class="text-left"> {{ item.transporter?.name }} </td>
                  <td class="text-center">
                    <h5 *ngIf="item.status == true" style="color: white">
                      <span class="badge bg-success2">Activo</span>
                    </h5>
                    <h5 *ngIf="item.status == false" style="color: white">
                      <span class="badge bg-danger">Inactivo</span>
                    </h5>
                  </td>
                  <td class="text-center">
                    <!-- <i
                      class="fa-solid f-larger pointer fa-pencil"
                      (click)="updateRequest(item)"
                    ></i> -->
                    <i class="fa-solid f-larger pointer fa-eye" [routerLink]="['/main/process/requestplanner', item.id]"></i>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="modalRequest"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="modalRequest"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title pricolor" id="modalRequest">
            {{ action.name | uppercase }} SOLICITUD
          </h5>
        </div>

        <!-- Modal Body -->
        <div class="modal-body">
          <div class="row g-3">
            <!-- Descripción -->
            <div class="col-6">
              <div class="mb-3">
                <label for="clientId" class="form-label">Cliente</label>
                <select
                  class="form-select"
                  id="clientId"
                  [(ngModel)]="request.clientId"
                  name="clientId"
                  required
                  (change)="
                    selectItem(request.clientId, listClient, 'selectedClient')
                  "
                >
                  <option value="" disabled selected>
                    Seleccione un cliente
                  </option>
                  <option *ngFor="let client of listClient" [value]="client.id">
                    {{ client.name }}
                  </option>
                </select>
              </div>
              <!-- Mostrar la información del cliente seleccionado -->
              <div *ngIf="selectedClient" class="border p-2 rounded bg-light">
                <div class="ft d-flex justify-content-between mb-2">
                  <strong>NIT:</strong>
                  <span>{{ selectedClient.documentNumber }}</span>
                </div>
                <div class="ft d-flex justify-content-between mb-2">
                  <strong>Agencia:</strong>
                  <span>{{ selectedClient.businessName }}</span>
                </div>
              </div>
            </div>

            <div class="col-6">
              <label for="requestDate" class="form-label">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="name"
                [(ngModel)]="request.name"
                name="name"
                required
              />
            </div>

            <div class="col-12">
              <label for="description" class="form-label">Descripción</label>
              <textarea
                class="form-control"
                id="description"
                [(ngModel)]="request.description"
                name="description"
                rows="2"
                placeholder="Descripción de la solicitud"
                required
              ></textarea>
            </div>

            <!-- Fecha y Hora de Solicitud -->
            <div class="col-md-6">
              <label for="requestDate" class="form-label"
                >Fecha de Solicitud</label
              >
              <input
                type="date"
                class="form-control"
                id="requestDate"
                [(ngModel)]="request.requestDate"
                name="requestDate"
                required
              />
            </div>

            <div class="col-md-6">
              <label for="requestTime" class="form-label"
                >Hora de Solicitud</label
              >
              <input
                type="time"
                class="form-control"
                id="requestTime"
                [(ngModel)]="request.requestTime"
                name="requestTime"
                required
              />
            </div>
            <!-- Fecha y Hora de recogida -->
            <div class="col-md-6">
              <label for="requestDate" class="form-label"
                >Fecha estimada de recogida</label
              >
              <input
                type="date"
                class="form-control"
                id="requestDate"
                [(ngModel)]="request.estimatedPickUpDate"
                name="requestDate"
                required
              />
            </div>

            <div class="col-md-6">
              <label for="requestTime" class="form-label"
                >Hora estimada de recogida</label
              >
              <input
                type="time"
                class="form-control"
                id="requestTime"
                [(ngModel)]="request.estimatedPickUpTime"
                name="requestTime"
                required
              />
            </div>
            <!-- Cantidad y Peso Estimados -->
            <div class="col-md-6">
              <label for="estimatedQuantity" class="form-label"
                >Cantidad Estimada</label
              >
              <input
                type="number"
                class="form-control"
                id="estimatedQuantity"
                [(ngModel)]="request.estimatedQuantity"
                name="estimatedQuantity"
                placeholder="0"
                min="0"
                required
              />
            </div>

            <div class="col-md-6">
              <label for="estimatedKG" class="form-label"
                >Peso Estimado (KG)</label
              >
              <input
                type="number"
                class="form-control"
                id="estimatedKG"
                [(ngModel)]="request.estimatedKG"
                name="estimatedKG"
                placeholder="0"
                min="0"
                step="0.01"
                required
              />
            </div>

            <!-- Es Especial -->
            <div class="col-md-6">
              <label class="form-label">¿Es Especial?</label>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="isSpecial"
                  [(ngModel)]="request.isSpecial"
                  name="isSpecial"
                />
                <label class="form-check-label" for="isSpecial">No / Sí</label>
              </div>
            </div>

            <!-- Lugar de Recogida -->
            <div class="col-12">
              <label for="pickUpLocationId" class="form-label"
                >Lugar de Recogida</label
              >
              <select
                class="form-select"
                id="pickUpLocationId"
                [(ngModel)]="request.pickUpLocationId"
                name="pickUpLocationId"
                required
              >
                <option value="" disabled selected>
                  Seleccione un lugar de recogida
                </option>
                <option
                  *ngFor="let location of listTipos"
                  [value]="location.id"
                >
                  {{ location.name }}
                </option>
              </select>
            </div>

            <!-- Observaciones y Recomendaciones -->
            <div class="col-12">
              <label for="observations" class="form-label">Observaciones</label>
              <textarea
                class="form-control"
                id="observations"
                [(ngModel)]="request.observations"
                name="observations"
                rows="2"
                placeholder="Observaciones adicionales"
              ></textarea>
            </div>

            <div class="col-12">
              <label for="recommendations" class="form-label"
                >Recomendaciones</label
              >
              <textarea
                class="form-control"
                id="recommendations"
                [(ngModel)]="request.recommendations"
                name="recommendations"
                rows="2"
                placeholder="Recomendaciones"
              ></textarea>
            </div>
          </div>
        </div>

        <!-- Modal Footer -->
        <div class="modal-footer">
          <!-- <button
            class="btn btn-md btn-dark"
            data-dismiss="modal"
            aria-label="Close"
          >
            Cancelar
          </button>
          <button type="button" class="btn btn-primary" (click)="saveRequest()">
            Guardar
          </button> -->

          <div class="col-md-12 d-flex flex-row gap-10 justify-content-end">
            <button class="btn btn-sm btn-dark" data-dismiss="modal" aria-label="Close">Cancelar</button>
            <button class="btn btn-sm btn-success"  (click)="saveRequest()">Actualizar</button>
          </div>
          
        </div>
      
      </div>
    </div>
  </div>
</div>
