<div class="container">
    <div class="page-header">
      <div class="d-flex flex-column">
        <h3 class="primary title noselect">Gestión Manual de Ruta</h3>
        <p class="secundary mb-1">En este modulo podrás subir el archivo masivo para las conciliaciónes</p>
      </div>
      <div class="d-flex flex-rows gap-10">
        <button type="button" class="btn btn-sm bg-add" (click)="cardJson.tab = cardJson.tab === 'L' ? 'C' : 'L'">
          {{ cardJson.tab === 'L' ? 'Agregar' : 'Atrás' }}
          <i class="fa-solid" [ngClass]="cardJson.tab === 'L' ? 'fa-plus' : 'fa-arrow-left'"></i>
        </button>

        <button type="button" class="btn btn-sm btn-dark" (click)="reloadPage()">
          Recargar <i class="fa-solid fa-rotate-right"></i>
        </button>
      </div>
    </div>
    <div class="page-divider mb-3">
      <hr class="mt-1 mb-1">
    </div>

    <div class="page-body">
      <div class="col-md-12">
        <!-- Vista de lista -->
        <div class="row" *ngIf="cardJson.tab === 'L'">
          <div class="col-md-12">
            <div class="table-responsive">
              <div class="mb-3 col-4">
                <input
                type="text"
                class="form-control form-control-sm"
                placeholder="Buscar..."
                (keyup)="searchTerm$.next($event.target)"
                />
              </div>
            <!-- Tabla de datos -->
            <!-- Tabla de datos -->
            <table class="table table-sm">
              <thead class="bg-white">
                <tr>
                  <th class="text-center">Id Guia</th>
                  <th class="text-center">Conductor</th>
                  <th class="text-center">Nombre del sitio</th>
                  <th class="text-center">Tipo</th>
                  <th class="text-center">Ciudad</th>
                  <th class="text-center">Dirección</th>
                  <th class="text-center">Acciones</th>
                </tr>
              </thead>
              <tbody style="background-color: white;">
                <tr style="font-size: smaller;" *ngFor="let item of detailData">
                  <td class="text-center">{{ item.guideId }}</td>
                  <td class="text-center">{{ item.driver }}</td>
                  <td class="text-center">{{ item.siteName }}</td>
                  <td class="text-center">{{ item.type }}</td>
                  <td class="text-center">{{ item.city }}</td>
                  <td class="text-center">{{ item.address }}</td>
                  <td class="text-center">
                    <i class="fa-solid f-larger pointer fa-pencil" (click)="editData(item)"></i>
                    <i class="fa-solid f-larger pointer fa-eye" (click)="viewData(item)"></i>
                  </td>
                </tr>
              </tbody>
            </table>

            <!-- Paginación -->
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-between">
                <!-- Select para seleccionar la página -->
                <div class="d-flex align-items-center">
                  <li class="page-item d-flex align-items-center">
                    <span class="me-2">Pag</span>
                    <select class="form-select form-select-sm me-2" (change)="onPageChange($event)">
                      <option *ngFor="let i of pagesArray" [value]="i" [selected]="currentPage === i">{{ i }}</option>
                    </select>
                    <span class="me-2">de</span>
                    <span>{{ totalPages }}</span>
                  </li>
                </div>
                <!-- Controles Anterior y Siguiente -->
                <div class="d-flex">
                  <li class="page-item" [class.disabled]="currentPage === 1">
                    <a class="page-link" (click)="previousPage()">
                      <i class="fa-solid fa-angle-left"></i>
                    </a>
                  </li>
                  <li class="page-item" [class.disabled]="currentPage === totalPages">
                    <a class="page-link" (click)="nextPage()">
                      <i class="fa-solid fa-angle-right"></i>
                    </a>
                  </li>
                </div>
              </ul>
            </nav>
            </div>
          </div>
        </div>

      <!-- Vista para cargar archivo -->
<div class="row" *ngIf="cardJson.tab === 'C'">
  <!-- Columna de selección -->
  <div class="col-md-4">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <select class="form-select me-2" [(ngModel)]="selectedItem">
          <ng-container *ngFor="let item of listPending">
            <option [value]="item.id">{{ item.routeId }}</option>
          </ng-container>
        </select>
        <button class="btn btn-success btn-sm" (click)="addToTable()">Agregar</button>
      </div>

      <!-- Tabla de elementos seleccionados -->
      <div class="mt-3" *ngIf="selectedItems.length > 0">
        <h6 class="text-center">Id de Rutas Agregadas</h6>
        <div class="text-center mb-2">
          <button class="btn btn-success btn-sm" (click)="getPendingRequest()">Generar Estructura <i class="fa-solid fa-download"></i></button>
        </div>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center p-2" *ngFor="let item of selectedItems">
            {{ item.routeId }}
            <i class="fa-solid fa-trash text-danger" (click)="removeFromTable(item)"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Columna de carga de archivo -->
  <div class="col-md-8">
    <div class="card p-3">
      <div class="row">
        <div class="col-md-8">
          <label for="fileUpload" class="form-label fw-bold">Sube un archivo Excel:</label>
          <input type="file" id="fileUpload" class="form-control form-control-sm" (change)="onFileChange($event)" accept=".xlsx, .xls" />
        </div>
        <div class="col-md-4 text-end mt-auto">
          <button type="button" class="btn btn-success btn-sm" (click)="sendFileToBackend()">Guardar <i class="fa-solid fa-save"></i></button>
        </div>
      </div>

      <!-- Tabla de datos cargados -->
      <div class="table-responsive mt-3" *ngIf="formattedData && formattedData.length > 0">
        <h6 class="text-center">Datos cargados</h6>
        <table class="table table-sm table-bordered">
          <thead class="bg-light">
            <tr>
              <th>ID Ruta</th>
              <th class="text-center">ID Guía</th>
              <th class="text-center">Tipo de producto</th>
              <th class="text-center">Cantidad</th>
              <th class="text-center">Fecha Movimiento</th>
              <th class="text-center">Hora Movimiento</th>
              <th class="text-center">Ciudad</th>
              <th class="text-center">Dirección</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of formattedData">
              <td>{{ row.idRuta }}</td>
              <td class="text-center">{{ row.idGuia }}</td>
              <td class="text-center">{{ row.tipoBat }}</td>
              <td class="text-center">{{ row.cantidad }}</td>
              <td class="text-center">{{ row.fechaMov }}</td>
              <td class="text-center">{{ row.horaMov }}</td>
              <td class="text-center">{{ row.ciudad }}</td>
              <td class="text-center">{{ row.direccion }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


      </div>
    </div>
  </div>


  <div class="modal fade" id="modalconfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-md-12 text-center pb5">
                    <i class="fa-solid fa-sync noselect f-xx-large"></i>
                </div>
                <div class="col-md-12 mt-4">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h6><strong>¿Está seguro que desea editar este cargue?</strong></h6>
                            <p><small>Esta acción no se podrá deshacer</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                  <div class="form-group">
                    <label for="guiaNumero"><strong>Número de guía</strong></label>
                    <input
                      type="text"
                      [(ngModel)]="guide"
                      class="form-control"
                      id="guiaNumero"
                      placeholder="Ingrese el número de guía"
                      [attr.maxlength]="guideLength"
                      (input)="validateGuide()"
                      #guideInput="ngModel"
                      required
                    >
                    <small *ngIf="errorMessage" class="text-danger">
                      {{ errorMessage }}
                    </small>
                  </div>

                </div>


                <div class="col-md-12 d-flex justify-content-around mt-4">
                    <button class="btn btn-sm text-white btn-dark" data-bs-dismiss="modal">Cancelar</button>
                    <button class="btn btn-sm text-white btn-success" (click)="updateGuide()">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modaldetalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" backdrop="true" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
          <div class="modal-body">
              <div class="col-md-12 text-center pb5">
                  <i class="fa-solid fa-sync noselect f-xx-large"></i>
              </div>
              <div class="col-md-12 mt-4">
                <div class="row">
                    <div class="col-md-12 text-center d-flex flex-column mb-3">
                      <span><strong># Guia:</strong> </span>
                      <span><strong>Transportadora:</strong> </span>
                      <span><strong>Conductor:</strong> </span>
                      <span><strong>Placa:</strong>  </span>
                      <span><strong>Referencias:</strong> </span>
                      <span><strong>Evidencias:</strong>  </span>
                      <hr>
                    </div>
                    <div class="col-md-12 " *ngIf="ListProduct?.details.length > 0">
                        <span><strong>Productos:</strong></span>
                        <table class="table table-bordered mt-3">
                          <tbody>
                            <tr *ngFor="let item of ListProduct?.details">
                              <th class="text-left">{{item.batteryType}}</th>
                              <td class="text-center">{{item.quantity}}</td>
                            </tr>
                            <tr>
                              <th class="text-left">Total</th>
                              <td class="text-center">{{sumQuantity(ListProduct.details)}}</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>

              <div class="col-md-12 d-flex justify-content-around mt-4">
                  <button class="btn btn-sm text-white btn-dark" data-bs-dismiss="modal">Cancelar</button>
              </div>
          </div>
      </div>
  </div>
</div>
