.page-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en una nueva fila si es necesario */
}

.page-header .d-flex.flex-column {
  flex: 1;
  min-width: 250px; /* Asegura que el texto tenga suficiente espacio */
}

.page-header .d-flex.flex-rows {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  flex-wrap: wrap;
  min-width: 250px; /* Evita que los botones se rompan en pantallas pequeñas */
}

.gap-10{
  gap: 10px;
}

.t-small{
  font-size: small !important;
}

.table-sm{
  font-size: smaller;
}

.f-larger{
  font-size: larger;
  margin-right: 20px;
}

.f-xx-large{
  font-size: xxx-large;
}

.subtitle-header{
  color: #4f5466;
  font-weight: 100;
  font-size: small;
}

.title-header{
  color: #303549;
  font-size: large;
  font-weight: 400;
  margin-bottom: 3px;
}

.content-action{
  display: flex;
  justify-content: center;
  gap: 5px;
}

.pointer{
  cursor: pointer;
}

.ticket{
  border-radius: 5px;
  color: white !important;
  font-size: smaller;
  background: #547cd5;
  border-color: #687dad;
}

.f-small{
  font-size: small;
}

/* CSS bootstrap override */

.nav-tabs .nav-link {
  color: #8461bd;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #bcbcbc;
  outline: 0;
  box-shadow: 0 0 3px 0rem rgb(212 212 212);
}

/* fin overide */


.bg-normal{
  background-color: rgb(48 53 73) !important;
  color: white;
}

.bg-normal:hover{
  background-color: rgba(48, 53, 73, 0.577) !important;
  color: white;
}
.color-normal{
  color: rgb(48 53 73) !important;
}



.gap-20{
  gap: 20px;
}

.h-content{
  height: calc(100vh - 250px);
}

.scroll{
  overflow-y: auto;
  overflow-x: hidden;
}

.bg-cancel{
  background: #d25d80 !important;
  border-color: #d67f89 !important;
  color: white !important;
}

.bg-cancel:hover{
  background: #a72e52 !important;
  border-color: #d67f89 !important;
  color: white !important;
}

.bg-cancel:active{
  background: #a72e52 !important;
  border-color: #d67f89 !important;
  color: white !important;
}

.bg-reasign{
  background: #e7ba26 !important;
  border-color: #d4a973 !important;
  color: #534e40 !important;
}

.bg-reasign:hover{
  background: #c99e10 !important;
  border-color: #d4a973 !important;
  color: #534e40 !important;
}

.bg-reasign:active{
  background: #c99e10 !important;
  border-color: #d4a973 !important;
  color: #534e40 !important;
}

.bg-transfer{
  background: #547cd5 !important;
  border-color: #687dad !important;
  color: white !important;
}

.color-transfer{
  color: #547cd5 !important;
}

.bg-transfer:hover{
  background: #3a6cd7 !important;
  border-color: #687dad !important;
  color: white !important;
}

.bg-transfer:active{
  background: #3a6cd7 !important;
  border-color: #687dad !important;
  color: white !important;
}

.bg-principal{
  background: #8461bd !important;
  border-color: #8461bd !important;
  color: white !important;
}

.bg-principal:hover{
  background: #7347ba !important;
  border-color: #8461bd !important;
  color: white !important;
}

.bg-principal:active{
  background: #7347ba !important;
  border-color: #8461bd !important;
  color: white !important;
}

.bg-success2{
  background: #198754 !important;
  border-color: #167b4c !important;
  color: white !important;
}

.bg-success2:hover{
  background: #137045 !important;
  border-color: #137045 !important;
  color: white !important;
}

.bg-success2:active{
  background: #5ba339 !important;
  border-color: #5ba339 !important;
  color: white !important;
}


.iconaction-yellow:hover {
  color: #e7d800;
}

.iconaction-green:hover {
  color: #5ba339;
}

.iconaction-blue:hover {
  color: #547cd5;
}

.iconaction-primary:hover {
  color: #7347ba;
}

.iconaction-dark:hover {
  color: #303549;
}






/* Estilo para el scrollbar */
.scroll::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

/* Estilo para el track (fondo del scrollbar) */
.scroll::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo */
  border-radius: 10px; /* Bordes redondeados */
}

/* Estilo para el handle (parte que se desplaza) */
.scroll::-webkit-scrollbar-thumb {
  background: #888; /* Color del handle */
  border-radius: 10px; /* Bordes redondeados */
  border: 3px solid #f1f1f1; /* Espacio entre el handle y el track para resaltar el redondeado */
}

/* Estilo para el handle en hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color del handle al pasar el ratón */
}

/* Ocultar las flechas del scrollbar */
.scroll::-webkit-scrollbar-button {
  display: none !important;
}

/* Estilo para Firefox */
.scroll {
  scrollbar-width: thin;
  scrollbar-color: #115e3b #69b190;
}

/* Estilo para el track en Firefox */
.scroll::-moz-scrollbar-track {
  background: #f1f1f1; /* Color de fondo */
  border-radius: 10px; /* Bordes redondeados */
}

/* Estilo para el handle en Firefox */
.scroll::-moz-scrollbar-thumb {
  background: #888; /* Color del handle */
  border-radius: 10px; /* Bordes redondeados */
  border: 3px solid #f1f1f1; /* Espacio entre el handle y el track para resaltar el redondeado */
}

/* Estilo para el handle en hover en Firefox */
.scroll::-moz-scrollbar-thumb:hover {
  background: #555; /* Color del handle al pasar el ratón */
}

.animate-bell{
  animation: tada 3s ease infinite;
}



@media (max-width: 768px) {
  .page-header {
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: flex-start;
  }

  .page-header .d-flex.flex-rows {
    justify-content: flex-start; /* Alinea los botones a la izquierda en móviles */
    width: 100%; /* Los botones ocupan todo el ancho disponible */
    margin-top: 15px; /* Espacio extra entre los botones y el contenido */
  }

  .page-header .d-flex.flex-column h5 {
    margin-bottom: 10px; /* Añade espacio entre el título y la descripción */
  }

  .page-header .d-flex.flex-column p {
    margin-bottom: 15px; /* Espacio extra entre la descripción y los botones */
  }
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #343a40;
}


.loader {
  position: relative;
  width: 80px;
  height: 80px;
}

.circle {
  position: absolute;
  border: 3px solid;
  border-radius: 50%;
  opacity: 1;
  animation: pulse 1.5s infinite ease-in-out;
}

.circle1 {
  width: 40px;
  height: 40px;
  border-color: #ffed00;
  top: 20px;
  left: 20px;
  animation-delay: 0s;
}

.circle2 {
  width: 60px;
  height: 60px;
  border-color: #333;
  top: 10px;
  left: 10px;
  animation-delay: 0.3s;
}

.circle3 {
  width: 80px;
  height: 80px;
  border-color: #17d657;
  top: 0;
  left: 0;
  animation-delay: 0.6s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.loader-message {
  margin-top: 20px;
  font-size: 1em;
  color: white;
  font-weight: 500;
  text-align: center;
}
