<div class="account-pages my-5 pt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6 text-center " type="warning">
        <div role="alert" class="alert alert-warning">
          <i class="fa fa-exclamation fa-3" style="font-size:24px"></i>
          <p style="color:#003333;">
            <strong>Aviso</strong>… Para acceder de nuevo a la aplicación es necesario
            introducir su Usuario y Contraseña.
          </p>
        </div>
      </div>
      <div class="col-lg-3"></div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center mb-5">
          <h1 class="display-2 fw-medium">4<i class="bx bx-buoy bx-spin text-primary display-3"></i>3</h1>
          <h4 class="text-uppercase">Cerrar sesión</h4>
          <p class="lead">La sesión fue cerrada correctamente.</p>
          <div class="mt-5 text-center">
            <a class="btn btn-outline-primary" (click)="login()">
              <i class="fa fa-user"></i> Iniciar sesión
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 col-xl-6">
        <div>
          <img src="assets/images/error-img.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>