.topbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  border: none;
  box-shadow: 0px 2px 20px 0px #c3bdbd;
  z-index: 1000;
}

.topbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 7px;
  margin: 0px 10px;
}

.topbar-actions-start,
.topbar-actions-end {
  display: flex;
  align-items: center;
}

.notification-btn,
.fullscreen-btn {
  margin-right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.notification-btn:hover,
.fullscreen-btn:hover {
  color: #41464b;
  font-size: 1.2em;
}

.profile-dropdown {
  position: relative;
  border: 1px solid #cecece;
  box-shadow: 0px 0px 7px 0px lightgrey;
}

.profile-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #434953;
  margin-right: 10px;
}

.profile-btn > span {
  padding-right: 10px;
}

.profile-btn:hover {
  background-color: #f0f0f0;
}

.ismovil-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.ismovil-container .name {
  font-size: 0.8rem; /* Nombre más pequeño */
  font-weight: bold;
}

.ismovil-container .role {
  font-size: 0.65rem; /* Rol más pequeño */
  color: gray;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  display: none;
}

.profile-dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  margin-bottom: 10px;
}

.dropdown-menu li:last-child {
  margin-bottom: 0;
}

.dropdown-menu a {
  color: #333;
  text-decoration: none;
}

.dropdown-menu a:hover {
  color: #337ab7;
}

/* Ícono de menú hamburguesa */
.menu-toggle {
  display: none; /* Oculto en escritorio */
  font-size: 24px;
  cursor: pointer;
}

/* Ajustes para móviles */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .ismovil {
    display: none;
  }

  .topbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
}
